@model List<AdminPart.Models.Field>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Název hřište</th>
            <th>Adresa</th>
            <th>Zeměpisná šířka</th>
            <th>Zeměpisná délka</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var field in Model)
        {
            <tr>
                <td>
                    <input type="number" id="fieldId" value="@field.FieldId" readonly />
                </td>
                <td>
                    <input type="text" id="fieldName_@field.FieldId" value="@field.FieldName" readonly/>
                </td>
                <td>
                    <input type="text" id="fieldAddress_@field.FieldId" value="@field.FieldAddress" />
                </td>
                <td>
                    <input type="number" id="latitude_@field.FieldId" value="@field.Latitude" step="any" />
                </td>
                <td>
                    <input type="number" id="longitude_@field.FieldId" value="@field.Longitude" step="any" />
                </td>
                <td>
                    <button type="submit" data-id="@field.FieldId" class="updateField btn btn-success">
                        <i class="fa fa-save"></i>
                    </button>
                </td>
            </tr>
           
        }
    </tbody>
</table>

